body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family:Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important
}

header {
  padding: 2% 12%;
}

.nav-link {
  color: #9c9c9c;
}

.nav > li > a:hover,
.nav > li  > a:focus {
    background-color: #f3f3f3;
    color: black;
}

.canvas{
  width:100%;
  min-height:1000px;
  padding-top: 3%;
}

/* tooltip */
.container{
  position:relative;
}

#barCompareTitle {
  margin-left: 34%;
  margin-bottom: -2%;
}

.custom-tooltip{
  position:absolute;
  /*width:220px;*/
  min-height:50px;
  padding:10px 5px;
  background:white;
  box-shadow: 0 2px 2px 0px rgba(0,0,0,.1);
  top:0;
  left:0;
  /*visibility:hidden;*/
  /*opacity: 1;*/
}

.axis .tick line{
  stroke:rgb(150,150,150);
}

.axis .tick line{
  stroke-width:.5px;
}

.row-no-padding {
   padding: 0 !important;
}

.filterSection {
    margin-top: 15px;
}
.notOverweightBar {
  fill: #43c9bd;
}

.overweightBar {
  fill: #ffb355;
}

#notOverweightTitle {
  color: #43c9bd;
  font-size: 1.2em;
}

#overweightTitle {
  color: darkOrange;
  /*color: #ffb355;*/
  font-size: 1.2em;
}
