body {
  /*font-family: 'Roboto', sans-serif;*/
  font-family:Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important
}

/*header {
  padding: 2% 10%;
}*/

#title {
  margin: 2% 20%;
}

.canvas{
  width:100%;
  min-height:1500px;
}

.container{
  /*margin-left: 0 !important;*/
  position:relative;
}

.custom-tooltip{
  position:absolute;
  /*width:220px;*/
  min-height:50px;
  padding:10px 5px;
  background:white;
  box-shadow: 0 2px 2px 0px rgba(0,0,0,.1);
  top:0;
  left:0;
  /*visibility:hidden;*/
  /*opacity: 1;*/
}

.legend {
  height: 30px;
  width: 100%;
  margin-left: 3% !important;
}

.legendGreen:before{
  content: ' \25CF';
  font-size: 15px;
  color: #43c9bd;
}

.legendOrange:before{
  content: ' \25CF';
  font-size: 15px;
  color: #ffb355;
}

.legendRed:before{
  content: ' \25CF';
  font-size: 15px;
  color: #ff7b7b;
}
